<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @payment.comment %>
</p>

<p>
  <strong>Day:</strong>
  <%= @payment.day %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<%= image_tag @payment.image.url%>





<% if current_user.admin? %>
<%= link_to 'Edit', edit_payment_path(@payment) %> |
<% else %><% end %>


<%= link_to 'Back', payments_path %>
