<p id="notice"><%= notice %></p>

 

  


<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
            <p><%= @image.title %></p>
            <img src="<%= @image.image.url %>" class="thumbnail" alt="Responsive image"  height="400" width="700" >
            <%= link_to 'Edit', edit_image_path(@image) %>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1">    
          <p>
            <strong>Point:</strong>
            <%= @image.point %>
          </p>

          <%= form_for(@image) do |f| %>
           <div class="field">
              <%= f.label :Puntos  %><br>
              <%= f.number_field :point  %>
            </div>
            <div class="actions">
              <%= f.submit 'Calificar'%>
            </div>
          <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
            <% @ImagesUser.each do |image| %>
            <%= link_to image.title , image %>
            <img src="<%= image.image.url %>" class="thumbnail" alt="Responsive image"  height="150" width="150" >
            </a>
            <% end %>
  </div>
  <div class="col-sm-7"> 
            <div class="panel panel-default">
            <div class="panel-body">
            <p><%= @image.descrption %></p>
            </div>
            </div>
            <% @comments.each do |comment| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" class="glyphicon glyphicon-star" aria-hidden="true">
                <% if comment.user_id == nil %>
                <%= simple_format 'Anonimo' %>   
                <% else %>
                <%= simple_format comment.user.email %> 
                <% end %>
                <% if current_user.admin?%>
                <%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Are you sure?' } %> 
                <% else %>
                <% end %>

                </h3>
              </div>
              <div class="panel-body">
                <div> <%= simple_format comment.commenter %>  </div>
              </div>
            </div>  
            <% end %>
             <h2>Add a comment:</h2>
          <%= form_for([@image, @image.comments.build]) do |f| %>
             <p>
                <%= f.label :commenter %><br>
                <%= f.text_area :commenter %>
              </p>
              <p>
                 <%= f.submit %>
              </p>
           <% end %>        
  </div>
  <div class="col-sm-2">
              <% @ImagesFriend.each do |image| %>
              <%= link_to image.title , image %>
              <img src="<%= image.image.url %>" class="thumbnail" alt="Responsive image"  height="150" width="150" >
              <% end %>
  </div>
  <div class="col-sm-1"></div>
</div>


 

